
 @media screen and (max-width:767px){
html{
    scroll-behavior: smooth;
}
body{
    color: white;
    background-image: linear-gradient(rgb(88, 111, 146),rgb(32,36,45));
    padding: 0;
    font-family: monospace;
    font-size: 1em;
    margin: 0;
}
/*GRID*/
.CardContainer-Grid{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
            gap: 2.5vw;
            margin: auto;
            margin-top: 5vh;
            width: 90vw;
            height: auto;
            
           
    
    }
.CardContainer-Grid > div{
        border-radius: clamp(5px,5vw,30px);
        
        display: flex;
        align-items: center;
}
    /*CONTAINERS*/
.SquareContainer{
        border-radius: 30px;
        height: 0.5fr;
            
        display: flex;
        flex-direction: column;
       padding: 20px;
       padding-top: 10px;
       aspect-ratio: 1;
       overflow: hidden;
       background-color: rgba(6, 25, 59, 0.5);
       border: 1px solid rgba(110, 119, 136, .4);
    }
.SquareContainerHeader{
        font-weight: bolder;
        color: rgba(113,121,134);
        font-size: clamp(12px,4vw,30px);
        text-align: start;
        display: flex;
        justify-self: start;
        align-items:center;
        flex-direction: row;
        margin-right: auto;
        margin-left:0;
}
.SquareHeaderIcon{
    filter: contrast(0%);
    width: 5vw;
    aspect-ratio: 1;
    margin-right: 2vw;
    box-sizing: border-box;
}
    /*Summary Container*/
.Summary-Container{
        background-color: transparent;
        margin-bottom: 5vh;
        height: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        
        background-color: transparent;
        z-index: 10;
        overflow: hidden;
}

.Summary-Container p{
        margin: 0.5rem;
        font-size: clamp(20px,8vw,25px);
}
.Summary-Container .Location{
        font-size: clamp(25px,10vw,50px);
        
}
.Summary-Container .Temperature{
        font-size: clamp(30px,15vw,50px);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*On scroll*/


.Summary_OnScroll_Text {
    font-size: 15px;
}



    /*Hourly Container*/
.Hourly-Container{
  
     padding: 5vw;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
        background-color: rgba(6, 25, 59, 0.5);
        border: 1px solid rgba(110, 119, 136, .4);
        height: auto;
    overflow-x: scroll;
    
    }
    .Hourly-Container::-webkit-scrollbar{
        height: 10px;
    }
    .Hourly-Container-Header{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        display: flex;
        left: 0;
        align-items:center;
        width: 100%;
        margin-right: auto;
        padding-bottom: 1vh;
        margin-left:0;
        margin-bottom: 1vh;
        box-sizing: border-box;
        color: rgba(113,121,134);
        font-size: clamp(15px,2vw,30px);
        font-weight: bolder;
        border-bottom: 0.5px solid rgba(113,121,134);
    }
    .Hourly-Container-Grid{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: start;
        margin: auto;
        margin-top: 0;
        overflow:hidden;
        gap:5vw;
    }
    .Hourly-Container-Grid > div {
        width: auto;
        border: 0px red solid;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .Hourly-Temp{
        font-family: sans-serif;
        margin: auto;
        font-size: clamp(10px,6vw,30px);
    }
    .Hourly-Time{
        margin: 0;
        margin:auto;
        
        font-size: clamp(12px,6vw,22.5px);
    }
    .Hourly-Container-Grid > div > img {
     width: clamp(15px,10vw,50px);
     aspect-ratio: 1;
     margin: auto;
     
 
    }
   


    /*Forecast Container*/
    .Forecast-Container{

background-color: rgba(6, 25, 59, 0.5);
border: 1px solid rgba(110, 119, 136, .4);

  height: auto;

    padding: 5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

      display: flex;
      flex-direction: column;
  
       

}

.Forecast-Container-Header{

position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
left: 0;

    display: flex;
    align-items:center;
      
        margin-right: auto;
        margin-left:0;
        margin-top: 0;
        

        padding-bottom: 1vh;
        width: 100%;

        box-sizing: border-box;
        color: rgba(113,121,134);
       

        font-size: clamp(15px,2vw,30px);
        font-weight: bolder;
        border-bottom: 0.5px solid rgba(113,121,134);
}

.Forecast-Container-Header  p {
    margin: 0;
}

.Forecast-Grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}

.Forecast-Grid > :nth-child(2){
    border-top: 0.5px solid rgba(113,121,134) ;
    border-bottom: 0.5px solid rgba(113,121,134);
    
}

.Forecast-Day{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
}


.Forecast-Date{
    margin: 0;
     font-size: clamp(15px,5vw,25px);
     width: 30%;
     display: flex;
}

.H_L-Day{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: clamp(10px,4.5vw,25px);
    width: 45%;
    position: relative;
}

.Forecast-Day-Highest-Temp{
    margin: 0;
    display: flex;
    justify-self: start;
    width: 50%;
}

.Forecast-Day-Breaker{
 position:absolute;
 height: 100%;
 right: 20vw;
    width: 1px;
    background-color: rgba(113,121,134);
}

.Forecast-Day-Lowest-Temp{
    margin: 0;
    width: 50%;
    display: flex;
}

.Forecast-Image{
    width: clamp(20px,10vw,40px);
    aspect-ratio: 1;
    margin-right: auto;
    justify-content: center;
}




    /*Precipitation Container*/
    .Precipitation-Container{
        
        background-color: rgba(6, 25, 59, 0.5);
        border: 1px solid rgba(110, 119, 136, .4);
        height:auto;
        display: flex;
        flex-direction: column;
        padding: 5vw;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        overflow: hidden;
    }
    .Precipitation-Header{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-self: center;
        margin-right: auto;
        margin-left:0;

        color: rgba(113,121,134);
        font-size: clamp(15px,2vw,30px);
        
    }
    .Precipitation-Grid{
        text-align: start;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-left: 5vw;
        padding-top: 2.5vw;
        padding-right: 5vw;

    }
    .Precipitation-Day{
    display: flex;
    flex-direction: row;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    }
    .Precipitation-Day p {
        font-size: clamp(15px,5vw,25px);
     
        margin: 0;
        padding: 0;
        display: flex;
        width: 30%;
        justify-content: start;
        
        align-items: center;
    }
    .Precipitation-Day  img{
        width: clamp(20px,8vw,40px);
        aspect-ratio:1;
       filter:invert();
    }
    .Precipitation-Day > div {
        display: flex;
        flex-direction: row;
        width: 35%;
        justify-content: center;
        
    }
    .Precipitation-Grid > div {
        box-sizing: border-box;
        display: flex;
        justify-content:space-between;
        align-items: center;
        border-top: .25px solid rgba(113,121,134);
        width: 100%;
        
    }
   
    /*FeelsLike Container*/
    
    .FeelsLike-Header > p {
        margin: 0;
    }

    .FeelsLikeTemp{
        margin: auto;
        margin-top: 0.5vh;
        margin-left: 0;
        font-size: clamp(20px,8vw,60px);
        font-weight: bolder;
   
    }


    /*Wind speed container*/


    .WindSpeed{
        margin: auto;
        margin-top: 2vw;
        font-size: clamp(15px,7vw,60px);
        font-weight: bolder;
        text-align: center;
     
    }
    .Wind-Direction{
        margin: auto;
        font-size: clamp(15px,7vw,60px);
    }


    /*CLOUNDS CONTAINER*/

    .Clouds-Content{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
    }
    .Clouds-Content > p {
        margin: 0;
        font-size: clamp(15px,8vw,60px) ;
        
        font-weight:bolder;
    }
    .Clouds-Content > img {
        width: clamp(20px,15vw,60px);
        aspect-ratio: 1;
        filter: invert();
        
    }
    /*Humidity Container*/
 
    .Humidity-Content{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        height:100%;
    }
    .HumidityPer {
        margin: 0;
        margin-top: 0.5vh;
        font-size: clamp(15px,8vw,60px) ;
        
        font-weight:bolder;
    }
    .Humidity-DewPoint{
        margin-top: auto;
       margin-bottom: 0;
        font-size: clamp(10px,3.2vw,60px) ;
    }
  

    /*UV index*/


      .UV-Content{
        display: flex;
        flex-direction: column;
        margin-top: 0.5vh;
        width: 100%;
        height:100%;
      }
      .UV{
        margin: 0;
        font-size: clamp(15px,8vw,60px);
        font-weight:bolder;
      }
      .UV_Desc{
        margin: 0;
        font-size: clamp(15px,6vw,40px);
        font-weight: bold;
      }


      /* SUNSET / SUNRISE */


    .Sun-Content{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        height:100%;
    }
    
    .SunHour{
        margin: 0;
        margin-top: 0.5vh;
        font-size: clamp(15px,6vw,60px) ;
        
        font-weight:bolder;
    }

    .Sun_Desc{
        margin-top: auto;
        margin-bottom: 0;
         font-size: clamp(10px,3.2vw,60px) ;
    }


    /*Visibility Container*/

    .Visibility-Content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:100%;
    }
    
    .VisibilityKM{
        margin: 0;
        margin-top: 0.5vh;
        font-size: clamp(15px,8vw,60px) ;
        
        font-weight:bolder;
    }


    /*Pressure Container*/

     .Pressure-Content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:100%;
     }

    .PressureNumber{
        margin: 0;
        margin-top: 0.5vh;
        font-size: clamp(15px,7vw,60px);
        font-weight:bolder;
    }

    .PressureDesc{
        margin: 0;
        font-size: clamp(15px,6vw,40px);
        font-weight: bold;
    }








    @media screen and (max-width:767px){
        .Span-2{
            grid-column: span 2;
        }
        .Span-3{
         grid-column: span 2;
        }
    }
}
    /*FOR DESKTOP*/
    @media screen and (min-width:768px) {
   
        .CardContainer-Grid{
            display: grid;
          
            grid-template-columns: repeat(5,1fr);
            
            gap: 2.5vw;
            margin: auto;
            margin-top: 5vw;
            width: 90vw;
            height: auto;
            backdrop-filter: blur(0.5);
            border: 1px solid white;
        }
        .CardContainer-Grid div {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 250px;
        }
        
        .Span-2{
            grid-column: span 2;
        }
        .Span-3{
         grid-column: span 3;
        }
        .FeelsLike-Container{
            background-color: red;
        }
    }
