body{
    color: white;
    background-image: linear-gradient(rgb(88, 111, 146),rgb(32,36,45));
    padding: 0;
    padding-bottom: 10vh;
    font-family: monospace;
    font-size: 1em;
}
/*GRID*/
.CardContainer-Grid{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
            gap: 2.5vw;
            margin: auto;
            margin-top: 5vh;
            width: 90vw;
            height: auto;
            
           
    
    }
.CardContainer-Grid > div{
        border-radius: 7.5vw;
        
        display: flex;
        align-items: center;
}
    /*CONTAINERS*/
.SquareContainer{
        border-radius: 30px;
        height: 0.5fr;
            
        display: flex;
        flex-direction: column;
       padding: 20px;
       padding-top: 10px;
       aspect-ratio: 1;
       overflow: hidden;
    }
.SquareContainerHeader{
        font-weight: bolder;
        color: rgba(113,121,134);
        font-size: clamp(15px,4vw,30px);
        text-align: start;
        display: flex;
        justify-self: start;
        align-items:center;
        flex-direction: row;
        margin-right: auto;
        margin-left:0;
}
.SquareHeaderIcon{
    filter: contrast(0%);
    width: 5vw;
    aspect-ratio: 1;
    margin-right: 2vw;
    box-sizing: border-box;
}
    /*Summary Container*/
.Summary-Container{
        background-color: transparent;
        margin-bottom: 5vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.Summary-Container > p{
        margin: 0.5rem;
        font-size: clamp(20px,8vw,25px);
}
.Summary-Container .Location{
        font-size: clamp(25px,10vw,50px);
}
.Summary-Container .Temperature{
        font-size: clamp(30px,15vw,50px);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


    /*Hourly Container*/
.Hourly-Container{
  
     padding: 5vw;
        padding-top: 1.5vh;
        padding-bottom: 0vh;
    display: flex;
    flex-direction: column;
        background-color: rgba(6, 25, 59, 0.5);
        border: 1px solid rgba(110, 119, 136, .4);
        height: 20vh;
    overflow-x: scroll;
    }
    .Hourly-Container-Header{
        position: -webkit-sticky;
        position:sticky;
        display: flex;
        left: 0;
        align-items:center;
        width: 100%;
        margin-right: auto;
        padding-bottom: 1vh;
        margin-left:0;
        margin-bottom: 1vh;
        box-sizing: border-box;
        color: rgba(113,121,134);
        font-size: clamp(20px,4vw,30px);
        font-weight: bolder;
        border-bottom: 0.5px solid rgba(113,121,134);
    }
    .Hourly-Container-Grid{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: start;
        margin: auto;
        margin-top: 0;
        padding-bottom: 1vh;
        overflow-x: scroll;
        gap:5vw;
    }
    .Hourly-Container-Grid > div {
        width: auto;
        border: 0px red solid;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .Hourly-Temp{
        font-family: sans-serif;
        margin: auto;
        font-size: clamp(10px,6vw,30px);
    }
    .Hourly-Time{
        margin: 0;
        margin:auto;
        
        font-size: clamp(12px,6vw,22.5px);
    }
    .Hourly-Container-Grid > div > img {
     width: clamp(15px,10vw,50px);
     aspect-ratio: 1;
     margin: auto;
     
     filter:invert();
    }
   


    /*Forecast Container*/
    .Forecast-Container{
        background-color: rgba(6, 25, 59, 0.5);
        border: 1px solid rgba(110, 119, 136, .4);
        height: 25vh;
    }



    /*Precipitation Container*/
    .Precipitation-Container{
        overflow: scroll;
        background-color: rgba(6, 25, 59, 0.5);
        border: 1px solid rgba(110, 119, 136, .4);
        height:30vh;
        display: flex;
        flex-direction: column;
        padding: 5vw;
        padding-top: 2.5vw;
        overflow: hidden;
    }
    .Precipitation-Header{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-self: start;
        margin-right: auto;
        margin-left:0;

        color: rgba(113,121,134);
        font-size: clamp(20px,4vw,30px);
        font-weight: bolder;
    }
    .Precipitation-Grid{
        text-align: start;
        display: grid;
        height: 100%;
        width: 100%;
        padding-left: 5vw;
        padding-top: 2.5vw;
        padding-right: 5vw;

    }
    .Precipitation-Day{
    display: flex;
    flex-direction: row;
    
    }
    .Precipitation-Day p {
        font-size: clamp(10px,6vw,40px);
        font-weight: bolder;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        
        align-items: center;
    }
    .Precipitation-Day  img{
       width: clamp(20px,10vw,50px);
       aspect-ratio:1;
       filter:invert();
    }
    .Precipitation-Day > div {
        display: flex;
        flex-direction: row;
        
    }
    .Precipitation-Grid > div {
        box-sizing: border-box;
        display: flex;
        justify-content:space-between;
        align-items: center;
        border-top: .25px solid rgba(113,121,134);
        width: 100%;
        
    }
   
    /*FeelsLike Container*/
    .FeelsLike-Container{
        background-color: rgba(6, 25, 59, 0.5);
        border: 1px solid rgba(110, 119, 136, .4);
        
    }
    .FeelsLike-Container .FeelsLikeTemp{
        margin: auto;
        margin-top: 2vw;
        margin-left: 0;
        font-size: clamp(20px,8vw,60px);
        font-weight: bolder;
    }
    .WindSpeed{
        margin: auto;
        margin-top: 2vw;
        margin-left: 0;
        font-size: clamp(15px,7vw,60px);
        font-weight: bolder;
        text-align: start;
    }


    @media screen and (max-width:767px){
        .Span-2{
            grid-column: span 2;
        }
        .Span-3{
         grid-column: span 2;
        }
    }

    /*FOR DESKTOP*/
    @media screen and (min-width:768px) {
   
        .CardContainer-Grid{
            display: grid;
          
            grid-template-columns: repeat(5,1fr);
            
            gap: 2.5vw;
            margin: auto;
            margin-top: 5vw;
            width: 90vw;
            height: auto;
            backdrop-filter: blur(0.5);
            border: 1px solid white;
        }
        .CardContainer-Grid div {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 250px;
        }
        
        .Span-2{
            grid-column: span 2;
        }
        .Span-3{
         grid-column: span 3;
        }
        .FeelsLike-Container{
            background-color: red;
        }
    }
